body{
    display: flex;
    align-items: center;
}
div{
    border: 2px solid black;
}

button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(55, 55, 153);
    color: white;
}
button:hover{
    border: 2px solid black;
}